/*
Colors used
Dark Green #113637
Medium Green #4E878D
Red #AC212F
Light Green #C9D8D3
*/

body {
  background-color: #C9D8D3;
  font-family: 'Rokkitt', serif;
  font-size: 20px;
  line-height: 1.6;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  padding-top: 40px;
}

h3 {
  font-size: 25px;
}

a {
  color: #05676e;
}

a:hover,
a:focus {
  color: #AC212F;
  text-decoration: none;
}

a:active {
  color: #489c79;
}

button,
.button {
  border: none;
  background-color: #05676e;
  color: white !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #03474c;
  transition: 0.2s opacity;
}

button:hover,
.button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button-secondary {
  background-color: #489c79;
}

header {
  padding: 10px 40px;
}

header img {
  margin-top: 20px;
  max-width: 350px;
}

nav {
  display: inline-block;
  margin-left: 10px;
  float: right;
}

nav ul {
  padding-left: 12px;
  list-style-type: none;
}

nav ul li {
  margin-left: 6px;
  display: inline-block;
}

main {
  max-width: 920px;
  margin: 0 auto;
}

article {
  width: 100%;
  max-width: 1000px;
}

img {
  width: 100%;
  height: auto;
}

/* Layout styling */
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.column-container {
  font-size: 0;
}

.column-4 {
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  float: left;
  text-align: center;
}

.column-4:first-child {
  margin-left: 0;
}

@media all and (max-width: 768px) {
  .logo {
    height: 50px;
  }
  h1 {
    font-size: 24px;
    text-align: left;
  }
  .column-4 {
    width: 58%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

@keyframes color-change {
  0% {fill: #edc655;}
50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-front {
  from {transform: translate(0,50px);}
  to {transform: translate(200px, 50px);}
}

.cloud-front {
  animation: 30s cloud-front infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate (446px,48px);}
  to {transform: translate(100px,48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
