/*
Colors used
Dark Green #113637
Medium Green #4E878D
Red #AC212F
Light Green #C9D8D3
*/

body {
  background-color: #C9D8D3;
  font-family: 'Rokkitt', serif;
  font-size: 20px;
  line-height: 1.6;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

a {
  color: #05676e;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #489c79;
}

button {
  border: none;

  background-color: #05676e;
  color: white !important;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 4px;
  transition: 0.2s opacity;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button-secondary {
  background-color: #489c79;
}

header {
  padding: 10px 40px;
}

header img {
  margin-top: 20px;
}

nav {
  display: inline;
  float: right;
}

nav ul {
  padding-left: 12px;
  list-style-type: none;
}

nav ul li {
  margin-left: 6px;
  display: inline-block;
}

main {
  max-width: 920px;
  margin: 0 auto;
}
